<%- include ("partials/_header") %> 

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/home/vistahome" class="navbar-brand">Factura System - Clientes</a>
</nav>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>Nombre</th>
                        <th>Numero de Documento</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (rows) { %>
                        <% for(var i=0; i<rows.length; i++){ %>
                            <tr>
                                <th><%= rows[i].name %></th>
                                <th><%= rows[i].documentNumber %></th>
                                <th><%= rows[i].address %></th>
                                <th>
                                    <a href="/clientes/update/<%= rows[i].id %>" class="btn btn-info">Editar</a>
                                    <a href="/clientes/delete/<%= rows[i].id %>" class="btn btn-danger">Delete</a>
                                </th>
                            </tr>
                        <% } %>   
                    <% } %>
                    <% if (!rows) { %>     
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <th scope="row">No existen datos guardados.</th>
                            </tbody>
                        </table>
                    <% } %> 
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/clientes/add" method="post">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="document_number" placeholder="Numero de Documento" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address" placeholder="Direccion" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>

<%- include ("partials/_footer") %> 